.main {
  margin-top: -10px;
}
.nav-link img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.navbar a:hover {
  opacity: 0.6;
}
.fa {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  margin: 4px;
  line-height: 32px;
  text-align: center;
}
.fa::before {
  width: 33px;
  height: 33px;
  text-align: center;
}
.fa:hover {
  opacity: 0.6;
}
.fa-facebook {
  background: rgb(119, 119, 119);
  color: white;
}
.fa-instagram {
  background: rgb(119, 119, 119);
  color: white;
}
.fa-twitter {
  background: rgb(119, 119, 119);
  color: white;
}
.home_h2 {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.home_p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  padding-right: 35px;
  padding-left: 35px;
}
.row {
  margin-top: 20px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
} 
.column {
  width: 16,66%;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
}
.rowVaaka {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.columnVaaka {
  width: 33,33%;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 24px;
}
.photo_h2 {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.photo_p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
.bi-geo-alt {
  width: 33,33%;
  color: white;
}
.bi-telephone {
  width: 33,33%;
  color: white;
}
.bi-envelope {
  width: 33,33%;
  color: white;
}
.contact_p {
  font-size: 14px;
  width: 33,33%;
  color: white;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contactBox {
  background-color: rgb(105,111,154);
  border: none;
  width: 100%;
  height: 850px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact_h2 {
  font-style: italic;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
  color: white;
}
.contactImage {
  object-fit: contain;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width:100%;
}
@media screen and (max-width: 500px) {
  .main {
    margin-top: -10px;
  }
  .sm_icons {
    text-align: center;
    margin-top: 10px;
  }
  .row {
    margin-left: -5px;
    margin-right: -2px;
    margin-bottom: 0px;
  }
  .column {
    margin-bottom: 3px;
    
  }
  .rowVaaka {
    flex-direction: column;
    margin-left: -5px;
    margin-right: -2px;
  }
  .columnVaaka {
    margin-top: -18px;
  }
  .horsepic {
    margin-top: 15px;
  }
  .photo_p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .home_h2 {
    margin-top: 40px;
  }
  .home_p {
    margin-left: 35px;
    margin-right: 35px;
  }
  .rounded-circle {
    width: 64px;
    height: 64px;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(230, 230, 230);
  color: rgb(141, 141, 141);
  text-align: center;
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: 12px;
}