.main {
  margin-top: -10px;
}
.nav-link img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.navbar a:hover {
  opacity: 0.6;
}
.fa {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -13px;
  float: left;
}
.fa:hover {
  opacity: 0.6;
}
.fa-facebook {
  background: rgb(119, 119, 119);
  color: white;
}
.fa-instagram {
  background: rgb(119, 119, 119);
  color: white;
}
.fa-twitter {
  background: rgb(119, 119, 119);
  color: white;
}
.home_h2 {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}
.home_p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-left: 130px;
  margin-right: 130px;
  width: auto;
}
.row {
  margin-top: 20px;
  margin-bottom: 3px;
  left: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
} 
.column {
  width: 16,66%;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
}
.rowVaaka {
  left: 15px;
  display: flex;
  justify-content: center;
}
.columnVaaka {
  width: 33,33%;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 24px;
}
.photo_h2 {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}
.photo_p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-left: 130px;
  margin-right: 130px;
  width: auto;
}
.bi-geo-alt {
  color: white;
  padding: 20px;
  width: 200%;
}
.bi-telephone {
  color: white;
  padding: 20px;
}
.bi-envelope {
  color: white;
  padding: 20px;
}
.contactBox {
  background-color: rgb(105,111,154);
  border: none;
  width: 100%;
  height: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact_h2 {
  font-style: italic;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 80px;
  margin-left: 60px;
  margin-right: 60px;
  color: white;
}
.contact_p1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 130px;
  margin-right: 130px;
  width: auto;
  color: white;
}
@media screen and (max-width: 500px) {
  .main {
    margin-top: -10px;
  }
  .row {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  .column {
    margin-bottom: 3px;
  }
  .rowVaaka {
    flex-direction: column;
    margin-left: 3px;
    margin-right: 3px;
  }
  .columnVaaka {
    margin-top: -18px;
  }
  .horsepic {
    margin-top: 15px;
  }
  .photo_p1 {
    margin-left: 35px;
    margin-right: 35px;
  }
  .home_h2 {
    margin-top: 40px;
  }
  .home_p1 {
    margin-left: 35px;
    margin-right: 35px;
  }
  .contactImage {
    height: auto;
  }
  .rounded-circle {
    margin-left: -150px;
    width: 65px;
    height: 65px;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(230, 230, 230);
  color: rgb(141, 141, 141);
  text-align: center;
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: 12px;
}